/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
/.idea
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/pg_performance_tester.iml
/.idea/vcs.xml
/.idea/workspace.xml
